<!-- ********** HEADER ********** -->
<section id="slides">
<div id="h"></div>
<div id="bannertext">
  <h1>Intern Bot</h1>
  <hr class="aligncenter">
  <h3>Hire an intern to expand your social media presence</h3>
  <p><a href="#features" class="btn btn-lg btn-clear btn-design page-scroll">Learn More</a> <a href="#pricing" class="btn btn-lg btn-clear btn-design page-scroll">Hire Me</a></p>
</div>
<!-- end:Banner text -->
</section>
<!-- END HEADER SECTION -->

<!-- ********** FEATURES ********** -->
<section id="features">
<div class="container">
  <div class="row mtb2 centered">
    <div class="col-md-4 w">
      <div class="circle-icon">
        <i class="icon ion-ios-gear-outline"></i>
      </div>
      <h5>Responsible Growth Hacking</h5>
      <hr class="aligncenter">
      <p>Complying with Terms of Services and only using authorized APIs also ensures your account won't get banned. Your intern will stay well below the rate limit for the platforms you choose. </p>
    </div><!--/col-md-4-->
    <div class="col-md-4 w">
      <div class="circle-icon">
        <div class="icon ion-happy-outline"></div>
      </div>
      <h5>Better For Everyone</h5>
      <hr class="aligncenter">
      <p>Leave the tedious searching and following for your intern while you focus on increasing the value for your users.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4 w">
      <div class="circle-icon">
        <div class="icon ion-ios-people-outline"></div>
      </div>
      <h5>Quality Over Quantity</h5>
      <hr class="aligncenter">
      <p>Gaining random followers feels good on the ego, but doesn't help when it comes to actual user acquisition. Your intern targets a specific demographic to create a real community.</p>
    </div><!--/col-md-4-->
  </div><!--/row -->
</div><!-- /.container -->
</section>

<!-- ********** HOW IT WORKS SECTION ********** --> 
<div id="g">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 centered">
        <h2>How It Works</h2>
        <hr class="aligncenter">
        <h4>Your Intern In Action </h4>
      </div><!-- /col-md-6-->
    </div><!--/ row-->

    <div class="row mt">
      <div class="col-md-4">
        <h4 class="green">STEP 1</h4>
        <p>Select the platforms you want to build an audience on.</p>
        <h4 class="green mt">STEP 2</h4>
        <p>Give your intern access to make API requests on your behalf.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <%= image_tag 'item.png', class: "img-responsive aligncenter", data: { effect:"slide-bottom" } %> 
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <h4 class="green">STEP 3</h4>
        <p>Describe your target audience. We want to find people who will genuinely enjoy your content, not passive followers.</p>
        <h4 class="green mt">STEP 4</h4>
        <p>Continue on while your intern does the work of finding and engaging your ideal demographic in the background</p>
      </div><!--/col-md-4-->
    </div><!--/row -->

  </div><!--/container -->
</div><!--/G -->

<!-- ********** CALL TO ACTION SECTION ********** --> 
<div id="cta">
  <div class="container">
    <div class="row">
      <h2>More than <b>46%</b> of web users look towards social media when making a purchase.</h2>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/CTA -->

<!-- ********** SERVICES SECTION ********** -->
<div class="container">
  <div class="row mtb centered">
    <div class="col-md-6 col-md-offset-3 w">
      <h5>Intern Services</h5>
      <hr class="aligncenter">
    </div>
  </div><!--/row -->

  <div class="row mtb centered">
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-social-twitter"></i>
        <h5>Twitter</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-social-instagram"></i>
        <h5>Instagram</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-social-facebook"></i>
        <h5>Facebook</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-social-pinterest"></i>
        <h5>Pinterest</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
  </div><!--/row -->
</div><!--/container -->

<!-- ********** CALL TO ACTION SECTION ********** --> 
<div id="cta">
  <div class="container">
    <div class="row">
      <h2>In 2014, the average Twitter user followed <b>5 or more</b> brands.</h2>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/CTA -->

<!-- ********** PRICING ********** --> 
<div id="pricing" class="container">
  <div class="row mtb centered">

    <div class="col-md-4">
      <div class="price ser w">
        <h5>Individual</h5>
        <hr class="aligncenter">
        <h1>
          <span class="sub">$</span>
          <span class="detail">10</span>
          <span class="sub">/mo.<span>
            </h1>
            <p class="mt">
            One platform of your choosing.<br/>
            <br/>
            </p>
            <p class="mt"><button class="btn btn-lg btn-download btn-design">Subscribe Now</button></p>
          </div>
        </div><!--/col-md-4 -->

        <div class="col-md-4">
          <div class="price ser w">
            <h5>Startup</h5>
            <hr class="aligncenter">
            <h1>
              <span class="sub">$</span>
              <span class="detail">15</span>
              <span class="sub">/mo.<span>
                </h1>
                <p class="mt">
                Two platforms of your choosing.<br/>
                <br/>
                </p>
                <p class="mt"><button class="btn btn-lg btn-download btn-design">Subscribe Now</button></p>
              </div>
            </div><!--/col-md-4 -->

            <div class="col-md-4">
              <div class="price ser w">
                <h5>Enterprise</h5>
                <hr class="aligncenter">
                <h1>
                  <span class="sub">$</span>
                  <span class="detail">25</span>
                  <span class="sub">/mo.<span>
                    </h1>
                    <p class="mt">
                    Every available platform.<br/>
                    <br/>
                    </p>
                    <p class="mt"><button class="btn btn-lg btn-download btn-design">Subscribe Now</button></p>
                  </div>
                </div><!--/col-md-4 -->

              </div><!--/row -->
            </div><!--/container -->

            <!-- ********** FOOTER SECTION ********** -->
            <div id="f">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3 w centered">
                    <h5 class="mb">Questions, comments, qualms, or concerns?</h5>
                    <form role="form" action="register.php" method="post" enctype="plain"> 
                      <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
                      <button class='btn btn-lg btn-clear subscribe-submit' type="submit">Contact</button>
                    </form>
                  </div><!--/col-md-6-->
                </div><!--/row -->
              </div><!--/container -->
            </div><!--/F -->

