<!-- ********** HEADER ********** -->
<section id="slides">
<div id="h"></div>
<div id="bannertext">
  <h1>Intern Bot</h1>
  <hr class="aligncenter">
  <h3>Hire an intern to expand your social media presence</h3>
  <p><button class="btn btn-lg btn-white btn-design">Learn More</button> <button class="btn btn-lg btn-clear btn-design">Buy Bundle</button></p>
</div>
<!-- end:Banner text -->
</section>
<!-- END HEADER SECTION -->

<!-- ********** FEATURES ********** -->
<div class="container">
  <div class="row mtb2 centered">
    <div class="col-md-4 w">
      <div class="circle-icon">
        <i class="icon ion-ios-gear-outline"></i>
      </div>
      <h5>Working Theme</h5>
      <hr class="aligncenter">
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4 w">
      <div class="circle-icon">
        <div class="icon ion-ios-analytics-outline"></div>
      </div>
      <h5>Important Stats</h5>
      <hr class="aligncenter">
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4 w">
      <div class="circle-icon">
        <div class="icon ion-ios-camera-outline"></div>
      </div>
      <h5>Awesome Design</h5>
      <hr class="aligncenter">
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
    </div><!--/col-md-4-->
  </div><!--/row -->
</div><!-- /.container -->

<!-- ********** SERVICES SECTION ********** -->
<div class="container">
  <div class="row mtb centered">
    <div class="col-md-6 col-md-offset-3 w">
      <h5>Our Services</h5>
      <hr class="aligncenter">
    </div>
  </div><!--/row -->

  <div class="row mtb centered">
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-settings"></i>
        <h5>Web Design</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-chatbubble-working"></i>
        <h5>Social Media</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-beaker"></i>
        <h5>Development</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-trophy"></i>
        <h5>Award Support</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
  </div><!--/row -->
</div><!--/container -->


<!-- ********** TESTIMONIAL SECTION ********** -->
<div id="t" class="carousel slide" data-ride="carousel">
  <div class="col-md-6 col-md-offset-3 centered">
    <h5>Love From Our Users</h5>
    <hr class="aligncenter">
    <!-- Carousel
    ================================================== -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#mint" data-slide-to="0" class="active"></li>
      <li data-target="#mint" data-slide-to="1"></li>
      <li data-target="#mint" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <div class="centered mtb">
          <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
          <p>SHARON SMITH</p>
        </div>
      </div><!-- /item -->

      <div class="item">
        <div class="centered mtb">
          <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
          <p>SAM MANNING</p>
        </div>
      </div><!-- /item -->

      <div class="item">
        <div class="centered mtb">
          <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
          <p>PAUL STEVENSON</p>
        </div>
      </div><!-- /item -->

    </div><!--/carousel-inner -->
  </div><!--/col-md-6 -->
</div><!--/T -->


<!-- ********** THEME FEATURES SECTION ********** -->
<div id="g">
  <div class="container">
    <div class="row mtb">
      <div class="col-md-1 centered">
        <i class="icon ion-ios-monitor-outline"></i>
      </div>
      <div class="col-md-3 w">
        <h5>Retina Ready</h5>
        <hr>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <div class="col-md-1 centered">
        <i class="icon ion-ios-paper-outline"></i>
      </div>
      <div class="col-md-3 w">
        <h5>Documented</h5>
        <hr>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <div class="col-md-1 centered">
        <i class="icon ion-ios-browsers-outline"></i>
      </div>
      <div class="col-md-3 w">
        <h5>Built On Bootstrap</h5>
        <hr>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
    </div><!--/row -->
    <div class="row mtb">
      <div class="col-md-1 centered">
        <i class="icon ion-ios-medkit-outline"></i>
      </div>
      <div class="col-md-3 w">
        <h5>Awesome Support</h5>
        <hr>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <div class="col-md-1 centered">
        <i class="icon ion-ios-cart-outline"></i>
      </div>
      <div class="col-md-3 w">
        <h5>Affordable Price</h5>
        <hr>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <div class="col-md-1 centered">
        <i class="icon ion-ios-box-outline"></i>
      </div>
      <div class="col-md-3 w">
        <h5>20 Themes Bundle</h5>
        <hr>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
    </div><!--/row -->
  </div><!--/container -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive aligncenter" src="" alt="">
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--G -->

<!-- ********** FOOTER SECTION ********** -->
<div id="f">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 w centered">
        <h5 class="mb">Want To Know Our Latest News?</h5>
        <form role="form" action="register.php" method="post" enctype="plain"> 
          <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
          <button class='btn btn-lg btn-clear subscribe-submit' type="submit">Subscribe</button>
        </form>
      </div><!--/col-md-6-->
    </div><!--/row -->
    <div class="row mtb">
      <div class="col-md-6 col-md-offset-3 centered">
        <a href="#"><i class="icon ion-social-instagram"></i></a>
        <a href="#"><i class="icon ion-social-twitter"></i></a>
        <a href="#"><i class="icon ion-social-facebook"></i></a>
        <a href="#"><i class="icon ion-social-dribbble"></i></a>
      </div>
    </div>
  </div><!--/container -->
</div><!--/F -->


